// https://developers.google.com/fonts/docs/material_icons
@import url("https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp");

/* Rules for sizing the icon. */
.material-icons,
.material-icons-outlined {
	&.md-16 {
		font-size: 16px;
	}
	&.md-18 {
		font-size: 18px;
	}
	&.md-20 {
		font-size: 20px;
	}
	&.md-24 {
		font-size: 24px;
	}
	&.md-32 {
		font-size: 32px;
	}
	&.md-36 {
		font-size: 36px;
	}
	&.md-48 {
		font-size: 48px;
	}
	&.md-80 {
		font-size: 80px;
	}
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }