/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100%;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
@media (max-width: 672px) {
	// remove default scrollbar on windows
	::-webkit-scrollbar {
		background: 0 0 !important;
		display: none;
		width: 0 !important;
		}
		}
		
		@media (min-width: 672px) {
			::-webkit-scrollbar {
				background: $secondary-color-10 !important;
				display: block;
				width: 6px !important;
				height: 5px;
				position: absolute;
				left: 0;
				top: 0;
			}
		
			::-webkit-scrollbar-track {
				box-shadow: inset 0 0 6px $secondary-color-20;
				-webkit-box-shadow: inset 0 0 6px $secondary-color-20;
				border-radius: 9px;
			}
		
			::-webkit-scrollbar-thumb {
				border-radius: 9px;
				box-shadow: inset 0 0 50px $secondary-color-40;
				-webkit-box-shadow: inset 0 0 50px $secondary-color-40;
			}
}