/* 
	google font's weight
		regular: 400
		medium: 500
		semiBold: 600
		bold: 700
*/

@font-face {
    font-family: 'Akzidenz Grotesk Regular';
    src: url('assets/fonts/AkzidenzGroteskBE-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'Akzidenz Grotesk Super';
    src: url('assets/fonts/AkzidenzGroteskBE-Super.otf') format('opentype');
}
@font-face {
    font-family: 'Akzidenz Grotesk SuperItalic';
    src: url('assets/fonts/AkzidenzGrotesk-SuperItalic.otf') format('opentype');
}
// @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;700&display=swap');

@function pixelToRem($pixelValue) {
	$remValue: calc($pixelValue / 16) + rem;
	@return $remValue;
}

body {
	//font-family: 'Akzidenz Grotesk Regular', sans-serif;
	font-family: "Open Sans";
}

.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.heading-6,
.body-1-normal,
.body-1-tight,
.body-2-normal,
.body-2-tight,
.body-3-normal,
.body-4-tight {
	/*font-family: 'Akzidenz Grotesk Regular', sans-serif;*/
	font-family: "Open Sans";

	&.regular {
		font-weight: 400;
	}

	&.medium {
		font-weight: 500;
	}

	&.bold {
		font-weight: 700;
	}
}

.heading-1 {
	font-size: pixelToRem(36);
	font-weight: 700;
	line-height: pixelToRem(44);
	letter-spacing: pixelToRem(0);
}

.heading-2 {
	font-size: pixelToRem(32);
	font-weight: 700;
	line-height: pixelToRem(40);
	letter-spacing: pixelToRem(0);
}

.heading-3 {
	font-size: pixelToRem(28);
	font-weight: 700;
	line-height: pixelToRem(36);
	letter-spacing: pixelToRem(0);
}

.heading-4 {
	font-size: pixelToRem(20);
	font-weight: 700;
	line-height: pixelToRem(28);
	letter-spacing: pixelToRem(0);
}

.heading-5 {
	font-size: pixelToRem(16);
	font-weight: 700;
	line-height: pixelToRem(24);
	letter-spacing: pixelToRem(0);
}

.heading-6 {
	font-size: pixelToRem(14);
	font-weight: 700;
	line-height: pixelToRem(20);
	letter-spacing: pixelToRem(0.2);
}

.body-1-tight {
	font-size: pixelToRem(16);
	line-height: pixelToRem(22);
	letter-spacing: pixelToRem(0);
}

.body-1-normal {
	font-size: pixelToRem(16);
	line-height: pixelToRem(24);
	letter-spacing: pixelToRem(0);
}

.body-2-tight {
	font-size: pixelToRem(14);
	line-height: pixelToRem(18);
	letter-spacing: pixelToRem(0.2);
}

.body-2-normal {
	font-size: pixelToRem(14);
	line-height: pixelToRem(20);
	letter-spacing: pixelToRem(0.2);
}

.body-3-tight {
	font-size: pixelToRem(12);
	line-height: pixelToRem(14);
	letter-spacing: pixelToRem(0.4);
}

.body-3-normal {
	font-size: pixelToRem(12);
	line-height: pixelToRem(16);
	letter-spacing: pixelToRem(0.4);
}

@media(min-width: 672px) {
	.heading-1 {
		font-size: pixelToRem(48);
		line-height: pixelToRem(56);
	}

	.heading-2 {
		font-size: pixelToRem(40);
		line-height: pixelToRem(48);
	}

	.heading-3 {
		font-size: pixelToRem(32);
		line-height: pixelToRem(40);
	}

	.heading-4 {
		font-size: pixelToRem(22);
		line-height: pixelToRem(30);
	}

	.heading-5 {
		font-size: pixelToRem(16);
		line-height: pixelToRem(26);
	}

	.heading-6 {
		font-size: pixelToRem(14);
		line-height: pixelToRem(20);
	}
}

@media(min-width: 1056px) {
	.heading-1 {
		font-size: pixelToRem(60);
		line-height: pixelToRem(70);
	}

	.heading-2 {
		font-size: pixelToRem(48);
		line-height: pixelToRem(56);
	}

	.heading-3 {
		font-size: pixelToRem(36);
		line-height: pixelToRem(44);
	}

	.heading-4 {
		font-size: pixelToRem(24);
		line-height: pixelToRem(32);
	}

	.heading-5 {
		font-size: pixelToRem(20);
		line-height: pixelToRem(28);
	}

	.heading-6 {
		font-size: pixelToRem(16);
		line-height: pixelToRem(24);
	}
}
